<div class="lcars-entry-read-action"
     hx-post="{% url 'mark-unread' %}"
     hx-vals='{"channel": "{{ channel_uid|escapejs }}", "entry": "{{ entries.0|escapejs }}"}'
     hx-swap="outerHTML"
     hx-target="this">
  <span class="lcars-read-status lcars-read">Read</span>
</div>
{% if channels %}
<nav id="channel-nav" hx-swap-oob="innerHTML:#channel-nav">
{% include "partials/channel_list.html" %}
</nav>
{% endif %}
<div id="header-notifications-button" hx-swap-oob="innerHTML:#header-notifications-button">
{% include "partials/notifications_button.html" %}
</div>
